button.leftArrow img, button.rightArrow img {
    width: 50px;
    height: auto;
}

button.leftArrow, button.rightArrow {
    background-color: transparent;
    border: none;
}

button.leftArrow {
    position: fixed;
    left: 0;
    bottom: 50%;
}

button.rightArrow {
    position: fixed;
    right: 2%;
    bottom: 50%;
}

button.leftArrow:hover, button.rightArrow:hover {
    cursor: pointer;
}

button.leftArrow img {
    transform: rotate(-90deg);
}

button.rightArrow img {
    transform: rotate(90deg);
}

article.project h2 {
    font-size: 35px;
}

article.project h3 {
    font-size: 25px;
    padding-bottom: 20px;
    border-bottom: solid 1px white;
}

article.project p {
    font-size: 25px;
}

@media only screen and (max-width: 1000px) {
    article.project h2 {
        font-size: 200%;
    }

    article.project h3 {
        font-size: 80%;
    }
    
    article.project p {
        font-size: 100%;
    }

    button.leftArrow img, button.rightArrow img {
        width: 40px;
        height: auto;
    }
}

@media only screen and (max-width: 600px) {
    article.project h2 {
        font-size: 100%;
    }

    article.project h3 {
        font-size: 80%;
    }
    
    article.project p {
        font-size: 80%;
    }

    button.leftArrow img, button.rightArrow img {
        width: 40px;
        height: auto;
    }
}

@media only screen and (max-height: 650px) {
    article.project h2 {
        font-size: 90%;
    }

    article.project h3 {
        font-size: 70%;
    }
    
    article.project p {
        font-size: 80%;
    }

    button.leftArrow img, button.rightArrow img {
        width: 30px;
        height: auto;
    }
}