ul.socialMediaList {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

ul.socialMediaList li.socialMediaItem {
    list-style-type: none;
}

  @media only screen and (max-width: 600px) {

    ul.socialMediaList li.socialMediaItem {
        background: none;
        margin: 30px;
    }

    ul.socialMediaList {
        padding-left: 0;
    }
  }