html {
    scrollbar-width: none;
}

body::-webkit-scrollbar { width: 0 !important }
body { -ms-overflow-style: none; }

div.main {
    position: fixed;
    /* border-top: 20px orange solid; */
    background-color: #495466;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    font-family: 'Roboto Mono', monospace;
}

h1, h2, h3 {
    font-size: 300%;
}

p {
    font-size: 200%;
    padding: 30px;
}

aside.scrollPos {
    position: fixed;
    right: 0;
    top: 30vh;
}

aside.scrollPos div.progressDot {
    border-radius: 50%;
    background-color: grey;
    width: 20px;
    height: 20px;
    margin: 10px;
}

aside.scrollPos div.progressDot:hover {
    cursor: pointer;
}

aside.scrollPos div.progressDot.active {
    /* background-color: #5a95ed; */
    background-color: white;
}

footer.navMenu {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    position: fixed;
    bottom: 0;
}

footer.navMenu, aside.scrollPos {
    opacity: 0.7;
}

footer.navMenu p {
    color: white;
    font-size: 20px;
}

footer.navMenu img {
    width: 100px;
    height: auto;
}

footer.navMenu img:hover {
    cursor: pointer;
}

footer.navMenu button {
    background-color: transparent;
    border: none;
    color: white;
}

.slide {
    text-align: center;
    width: 100vw;
    height: 100vh;
}

.slide .content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    padding-left: 150px;
    padding-right: 150px;
}

#wallpaper {
    width: 100%;
    position: fixed;
    right: 0;
    bottom: 0;
}